# Configuration file

general {
    # How quickly snow accumulates [200 = slow, 10 = fast]
    # 积雪速度
    I:accumulationRate=100

    # Max snow layers, 8 layers per block
    # 雪块
    I:maxSnowLayers=8

    # How many sides need to be at the same level before more snow is allowed to accumulate [0 = none, 4 = all]
    # 在允许累计更多雪前，边缘至少有多少个在同一水平先上
    I:smoothing=2

    # Number of blocks to increase the snow level at around a snow accumulation event [1 = single block, 5 = a + sign, 9 = all around
    I:snowDriftArea=5

    # How quickly snow melts [400 = slow, 20 = fast]
    I:snowMeltRate=400

    # Base snow layers to leave when melting
    I:snowMinLayers=1
}


