# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 13]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLACK=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALBLUE=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALGREEN=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALLIGHTBLUE=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALRED=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 11]
    I:ACTUALLYADDITIONS_ARMORMATERIALCRYSTALWHITE=11

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_ARMORMATERIALEMERALD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:ACTUALLYADDITIONS_ARMORMATERIALGOGGLES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_ARMORMATERIALOBSIDIAN=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_ARMORMATERIALQUARTZ=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:APIARIST_ARMOR=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:ARCTIC=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:AS_IMBUEDLEATHER=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:BRONZE=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:B_ELEMENTIUM=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:CLOAKING=0
    I:CULTIST_LEADER=20
    I:CULTIST_PLATE=13
    I:CULTIST_ROBE=13

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:DARK_STEEL_EMPOWERED=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:END_STEEL_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10
    I:FORTRESS=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:FRICTIONBOOTS=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:GASMASK=0
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:HARDENEDLEATHER=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:"IMMERSIVEENGINEERING:FARADAY"=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"IMMERSIVEENGINEERING:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:IRONWOOD=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTPHANTOM=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANASTEEL=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:MANAWEAVE=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:NAGA_SCALE=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURAINFUSED_IRON=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:PERIDOT=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:SAPPHIRE=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SCUBATANK=0
    I:SENSORGLASSES=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0
    I:SPECIAL=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:STELLAR_ALLOY_EMPOWERED=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:SYLVAN=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9
    I:THAUMIUM=25
    I:VOID=10
    I:VOIDROBE=10
    I:VOID_FORTRESS=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:WILDWOOD=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:YETI=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:armory=0
    I:avaritia_infinity=1000

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:compressedIron=9
    I:draconicArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:hat_material=0
    I:runesofwizardry_INSCRIPTION_MATERIAL=0
    I:steel=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 6]
    I:tcomplement.knightslime=6

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.manyullyn=7

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 7]
    I:tcomplement.steel=7
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLACK=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALBLUE=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALGREEN=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALLIGHTBLUE=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALRED=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALCRYSTALWHITE=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALEMERALD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:ACTUALLYADDITIONS_TOOLMATERIALOBSIDIAN=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ACTUALLYADDITIONS_TOOLMATERIALQUARTZ=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:BRONZE=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:B_ELEMENTIUM=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:CACTUSNEEDLE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:CRYSTAL=40
    I:CVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:ElectricDiamond=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:EndDiamond=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:EndForged=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:EnrichedGold=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:FIERY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:FireDiamond=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:FlawlessDiamond=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:GIANTSTONE=5
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"IE:STEEL"=10
    I:INFINITY_HOE=200
    I:INFINITY_PICKAXE=200
    I:INFINITY_SHOVEL=200
    I:INFINITY_SWORD=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:IRONWOOD=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:KNIGHTMETAL=8
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 20]
    I:MANASTEEL=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:MANASTEEL_GLASS=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:NATURESAURA_INFUSED_IRON=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:PERIDOT=16
    I:PRIMALVOID=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:RUBY=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:RedstoneIngot=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:RedstoneMaterial=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:ReinforcedIron=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:ReinforcedStone=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 8]
    I:SAPPHIRE=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:STEELEAF=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 26]
    I:TERRASTEEL=26

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:TFGLASS=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:TFICE=5
    I:THAUMIUM=22
    I:THAUMIUM_ELEMENTAL=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22
    I:VOID=10
    I:VOIDFLAME=20

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:WeakenedDiamond=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:bound=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:darkSteel=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 50]
    I:demonic=50

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:endSteel=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 19]
    I:living=19

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:material_book=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 36]
    I:material_prop=36

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"mysticalworld:amethyst"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"mysticalworld:copper"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"mysticalworld:silver"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:spectre=22
    I:steel=8

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:stellarAlloy=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 0]
    I:zorrasteel=0
}


