/*
!/.minecraft
/.minecraft/*

!/.git
!/.gitattributes
!/LICENSE
!/README.md
!/UPDATE.md
!/Notice.txt
/instance.cfg
/mmc-pack.json
!/modlist.html
!/manifest.json

!/.minecraft/patchouli_books/

!/.minecraft/resources/
/.minecraft/resources/Thaumcraft/lang/zh_cn.lang-bak
/.minecraft/resources/modularcontroller/

!/.minecraft/scripts/
/.minecraft/scripts/doc/*.exe
/.minecraft/scripts/doc/*.o
/.minecraft/scripts/nc_script_addons/*
/.minecraft/scripts/.zsrc

!/.minecraft/mods/
/.minecraft/mods/*
!/.minecraft/mods/Higanbana*.jar

!/.minecraft/config
/.minecraft/config/AppliedEnergistics2/items.csv
/.minecraft/config/AppliedEnergistics2/CustomRecipes.cfg
/.minecraft/config/InvTweaks.cfg
/.minecraft/config/splash.properties
/.minecraft/config/jei/worldSettings.cfg
/.minecraft/config/Guide-API/Guide-API.cfg
/.minecraft/config/*.txt
/.minecraft/config/*/*.txt
/.minecraft/config/*.json
/.minecraft/config/*/*.json
/.minecraft/config/*/*/*.json
/.minecraft/config/*.xml
