/*
!/.minecraft
/.minecraft/*

!/.git
!/.gitattributes
!/LICENSE
!/README.md
!/UPDATE.md
!/Notice.txt
/instance.cfg
/mmc-pack.json
!/modlist.html
!/manifest.json

!/.minecraft/config
!/.minecraft/patchouli_books
!/.minecraft/resources
!/.minecraft/scripts
/.minecraft/scripts/nc_script_addons/*
/.minecraft/scripts/.zsrc
!/.minecraft/icon.png


.minecraft/config/AppliedEnergistics2/items.csv
.minecraft/config/InvTweaks.cfg
/.minecraft/config/enderio/recipes/*.pdf
/.minecraft/config/enderio/recipes/examples/*
!/.minecraft/config/enderio/recipes/user/*.xml
!/.minecraft/config/enderio/recipes/user/recipes.xsd
