# Configuration file

~CONFIG_VERSION: 6

balance {
    # How does the Orechid determine its cost and speed to run?
    # "default": The Orechid will be cheap if Garden of Glass is loaded.
	# default：只有在水晶花园下 凝矿兰才是便宜的
    # "force_gog": The Orechid will always be cheap to run, even if Garden of Glass is not present
	# force_gog：即使没有水晶花园 也是便宜的
    # "force_no_gog": The Orechid will be expensive to run, even in Garden of Glass mode. [default: default]
	# force_no_gog：即使有水晶花园 也是贵的
    S:cheapOrechid=default

    # How many bookshelves a Gaia Pylon counts for at an enchanting table. [range: 0 ~ 50, default: 15]
	# 一个盖亚祭坛等于多少书架 对于附魔台来说
    I:gaiaPylonEnchantPower=15

    # Crank up this setting to make the Key of the King's Law super OP, if you want. This number is a multiplier for the Key's usual damage value of 10 hearts per hit. Note that setting it to 0 does not disable all damage since the Key's projectiles create a ton of explosions. [range: 0.0 ~ 1337.0, default: 1.0]
	#如果你想的话，可以将此设置调高王之秘钥的伤害。这个数字是通常10伤害值的乘数。
	#注意，将它设置为0并不能禁用所有的伤害，因为王之秘钥的投射物会产生大量的爆炸。[范围:0.0 ~ 1337.0，默认:1.0]
    S:keyDamageScale=1.0

    # How many bookshelves a Mana Pylon counts for at an enchanting table. [range: 0 ~ 50, default: 8]
	# 一个魔法水晶等于多少书架 对于附魔台来说
    I:manaPylonEnchantPower=8

    # The default mana output of the Manastorm Charge is multiplied by this amount. Setting this to a value higher than around ~1.38889ish allows for the "Manastorm Reactor" build to be profitable. [range: 1.0 ~ 15.0, default: 1.0]
	# 这个值可以使得魔力核反应堆有可能
    S:manastormScaleFactor=1.0

    # How many bookshelves a Natura Pylon counts for at an enchanting table. [range: 0 ~ 50, default: 15]
	# 一个自然水晶等于多少书架 对于附魔台来说
    I:naturaPylonEnchantPower=15

    # A multiplier for the amount of mana that the Rosa Arcana produces when soaking up XP orbs from the world. This doesn't affect the amount of mana obtained from the XP bars of nearby players; only in-world orb entities are affected. [range: 1.0 ~ 8.0, default: 1.0]
	# 当吸取来自世界的XP时，阿卡纳蔷薇产生的魔力值的乘数 
	# 这不会影响从玩家身上获取经验值产生魔力只会影响从世界中回去
    S:roseArcanaOrbMultiplier=1.0

	#机巧箱
    craftycrate {
        # Should the Crafty Crate require mana to craft items? [default: false]
		# 机巧箱 合成物品时需要消耗魔力吗？
        B:advancedCraftyCrate=false

        # If true, the crate will immediately empty itself if it tries to perform a craft and does not have enough mana; if false, the craft will simply wait until it does. Makes it really hard to automate, good luck! [default: false]
		# 如果是true, 机巧箱合成时没有足够的魔力就，会立即清空自己
		# 如果是false，机巧箱合成时没有足够的魔力，会一直等待直到成功，这会使得自动化非常困难，good luck for you ！
        B:advancedCraftyCrateHardMode=false

        # How much mana does the crafty crate use per-item in the recipe (empty slots and Crafting Placeholders don't count?) Default value is one burst from a redstone spreader. [range: 1 ~ 2147483647, default: 160]
		# 配方中每件物品消耗的魔力为多少（空槽和占位符不算？）
		# 默认值是一次红石魔力发射器的值
        I:crateManaPerItem=160
    }

    tnt {
        # Should the Entropinnyum block TNT that came from a vanilla-style TNT duplicator device? [default: false]
		# 热爆花 是否应该阻止TNT复制设备复制的TNT
        B:denyEntropinnyumDuplicatedTNT=true

        # Should the Entropinnyum only accept vanilla TNT entities? [default: false]
		# 热爆花 是否之接收原版的TNT
        B:forceVanillaTNT=false

        # The TNT duplicator detection uses a score/heuristic system to detect duplicated TNT. Set this number higher if you get false positives. [range: 1 ~ 2147483647, default: 10]
		# TNT复制机使用一个 分数/启发式 系统来检测重复的TNT
		# 如果检测失败了，你需要设置更高的值
        I:tntDupeDetectionHeuristic=10
    }

    decay {
        # How many ticks until passive flowers decay? Can only be set *lower* than the default value. Muahaha. [range: 1 ~ 72000, default: 72000]
		# 被动花的枯萎时间
        I:passiveDecayTimer=72000

        flowers {
            # Does the arcanerose, from botania, experience passive decay? [default: false]
			# 阿卡纳蔷薇 
            B:arcaneroseDecay=false

            # Does the dandelifeon, from botania, experience passive decay? [default: false]
			# 启命英
            B:dandelifeonDecay=false

            # Does the endoflame, from botania, experience passive decay? [default: false]
			# 火红莲
            B:endoflameDecay=true

            # Does the entropinnyum, from botania, experience passive decay? [default: false]
			# 热爆花
            B:entropinnyumDecay=false

            # Does the gourmaryllis, from botania, experience passive decay? [default: false]
			# 彼方兰
            B:gourmaryllisDecay=false

            # Does the kekimurus, from botania, experience passive decay? [default: false]
			# 贪食花
            B:kekimurusDecay=false

            # Does the munchdew, from botania, experience passive decay? [default: false]
			# 咀叶花
            B:munchdewDecay=false

            # Does the narslimmus, from botania, experience passive decay? [default: false]
			# 粘球草
            B:narslimmusDecay=false

            # Does the petropetunia, from floralchemy, experience passive decay? [default: false]
			# floralchemy petropetunia ？
            B:petropetuniaDecay=false

            # Does the rafflowsia, from botania, experience passive decay? [default: false]
			# 噬草花
            B:rafflowsiaDecay=false

            # Does the shulkmenot, from botania, experience passive decay? [default: false]
			# 勿落草
            B:shulkmenotDecay=false

            # Does the spectrolus, from botania, experience passive decay? [default: false]
			# 斑斓花
            B:spectrolusDecay=false

            # Does the thermalily, from botania, experience passive decay? [default: false]
			# 炽玫瑰
            B:thermalilyDecay=false
        }

    }

    fluxfield {
        # How much FE is contained within a "packet"? [range: 1 ~ 2147483647, default: 1600]
		# 一“包”有多少FE？
        I:fePerBurst=1600

        # How many pulses from a mana spreader are needed to fire off a "packet" of FE? [range: 1 ~ 2147483647, default: 1]
		# 需要多少魔力发射器发射的魔力才有一包FE  （魔力发射器是160？）
        I:shotsPerBurst=1
    }

}


etc {
    # If true, placing a corporea-related block will automatically decorate it with corporea sparks and floral powder, unless you're sneaking. [default: false]
    B:autoCorporeaSpark=false

    # The blocks considered "corporea-related" for the "autoCorporeaSpark" feature. [default: [botania:corporeaindex], [botania:corporeafunnel], [botania:corporeainterceptor], [botania:corporeacrystalcube], [incorporeal:corporea_liar]]
    S:corporeticBlocks <
        botania:corporeaindex
        botania:corporeafunnel
        botania:corporeainterceptor
        botania:corporeacrystalcube
        incorporeal:corporea_liar
     >

    # If "true", the custom terrestrial agglomeration plate will try to "collect" the items on top of it, resolving issues relating to "2x apple" being treated differently from "apple, apple". This operation can be expensive, so here is your option to disable it, if you have a lot of agglomeration recipes that don't use this feature.
	# 如果是true 将收集地上的物品，来区别2*apple 和 “apple apple”的区别，这个操作是十分耗时的，所以你不适用这个配方事，你可以禁用他
    # This is kind of a hack fix; if I get around to writing a more performant agglomeration recipe matcher, I'll remove this option. [default: true]
	# 如果我有一个性能更好的方法，我会移除这个配置
    B:doCustomAggglomerationPreprocessing=true

    # Can dispensers shoot glass bottles to turn them in to Ender Air in the End dimension? This allows for automation of Ender Air, which was not previously possible. [default: false]
	# 是否允许使用类似发射器的物品发射玻璃瓶，以收集末地的空气
    B:enderAirDispenser=false

    # This number acts as a multiplier for how much mana is in the Guilty Mana Pool. Setting higher than 1 allows for creating "creative pool only" mana infusion recipes, by adding recipes using more than an ordinary pool can hold. [range: 0.0 ~ 1.06, default: 1.0]
	# 永恒魔力池的魔力是原先的多少倍，如果高于1则允许添加创造魔力池的配方。
    S:guiltyPoolManaMultiplier=1.01

    # Should Botania Tweaks keep statistics on the total amount of mana generated, across all flowers and dimensions? [default: false]
	# 植物学调整是否应该统计所有花和维度产生的法力总量？？？
    B:keepManaGenerationStatistics=false

    # Should the water bowl mechanic, where you right click on water with a bowl to create a filled bowl, be available outside of Garden of Glass mode? [default: false]
	# 是否允许 用空碗右键水池获得一碗水，这原先是水晶花园的特性
    B:nonGogWaterBowl=true

    # Can sheep eat the custom Botania grass blocks to regrow their wool? [default: false]
	# 羊可以吃植物魔法的草方块来生长羊毛吗？
    B:sheepEatCustomGrass=false
}


