# Configuration file

general {
    # Set to true if Demon Soldiers should NOT be weaker outside of the Underworld [default: false]
    # 如果 false 恶魔士兵在冥界外更弱
    B:"Classic Demon Soldiers"=false

    # Set to false if Demon Soldiers should not spawn in the Nether [default: true]
    # 如果 false 恶魔士兵不会在地狱重生
    B:"Demon Soldiers Spawn in Nether"=false

    # The cooldown time for the underworld portal. Increase if repeated teleporting occurs. [default: 200]
    # 地狱之门冷却时间
    I:"Portal Cooldown Time"=200

    # Set to false to disable default portal creation. [default: true]
    # 如果 false 禁用默认的传送门创建
    B:"Portal Enabled"=true

    # Whether or not to use the vanilla ghast sounds for the Underghast instead of the provided ones [default: false]
    B:"Use Vanilla Ghast Sounds"=false

    # Set to true if Demon Soldiers should only attack the player if they are attacked first [default: false]
    # 如果 true 恶魔士兵只有受到玩家攻击时才会攻击玩家
    B:"Wuss Mode"=false
}


machines {
    # If false, right clicking machines with the Lightning Upgrade will do nothing [default: true]
    # 如果 false 右键点击 闪电升级的机器将不起作用
    B:"Enable Lightning Upgrading"=true

    # The max amount of mining retries. Decrease if StackOverflowExceptions occur. [default: 256]
    # 最大挖掘重试次数
    I:"Max Miner Block Search Retries"=256

    # This is the list of blocks the miner considers filler. It will optionally use these to fill its mined area, and won't mine these blocks. [default: [minecraft:cobblestone], [minecraft:dirt], [minecraft:sand]]
    S:"Miner Filler Blocks" <
        minecraft:cobblestone
        minecraft:dirt
        minecraft:sand
     >
}


"mod integration" {
    # Enable support for chiseling several LightningCraft block types [default: true]
    # 是否启用凿子联动
    B:"Chisel integration"=true

    # Should one be able to chisel stone and stone bricks to corrupt stone? Will only apply if chisel integration is enabled. [default: true]
    # 是否启用凿子来制作腐蚀石头
    B:"Enable corrupt stone chiseling"=true

    # Enable JEI integration? [default: true]
    # 是否启用JEI连用
    B:"JEI integration"=true

    # Enable LE <-> RF / TESLA conversion machines? [default: true]
    # 启用LE和RF的转换
    B:"RF integration"=true

    # This amount of RF / TESLA is equal to 1 LE (for 1 LE -> x RF conversion). The reverse will be 10 times costlier. [default: 50]
    # 1 LE = 多少 RF
    I:"RF to LE conversion"=50

    # Will remove the crafting recipes of all other mods' rods that LightningCraft has its own versions of. [default: true]
    # 是否移除其他mod 棒的配方
    B:"Remove Other Mods' Rods"=false

    # Enable smeltery support for electricium, skyfather, and mystic metals [default: true]
    # 匠魂联动
    B:"Tinker's Construct integration"=true
}


"tools and armor" {
    # Whether or not Mystic tools will auto-repair. [default: true]
    # 神秘工具自动修复
    B:"Enable Mystic Auto-repair"=true

    # If false, Mystic gear will not be able to be created. [default: true]
    # 启用 神秘齿轮
    B:"Enable Mystic Gear"=true

    # Whether or not Skyfather and Mystic tools will auto-smelt mined blocks. [default: true]
    # Skyfather 自动熔炼
    B:"Enable Skyfather Autosmelting"=true
}


worldgen {
    # The ID for the Underworld dimension [default: -9]
    I:"Underworld Dimension ID"=-9
}


