# Configuration file

general {
    # Items that will not prevent offhand-torch placement while in offhand, but do not place torches by themselves [default: [tconstruct:shovel], [tconstruct:excavator]]
    S:"Offhand Torch Tools" <
        tconstruct:shovel
        tconstruct:excavator
     >

    # Items that count as torches for the offhand-torch tweak options. [default: [minecraft:torch], [tconstruct:stone_torch]]
    S:"Torch Items" <
        minecraft:torch
        tconstruct:stone_torch
     >

    # Items that will place torches from your hotbar on right-click if enabled. [default: [minecraft:wooden_pickaxe], [minecraft:stone_pickaxe], [minecraft:iron_pickaxe], [minecraft:golden_pickaxe], [minecraft:diamond_pickaxe], [tconstruct:pickaxe], [tconstruct:hammer]]
    S:"Torch Tools" <
        minecraft:wooden_pickaxe
        minecraft:stone_pickaxe
        minecraft:iron_pickaxe
        minecraft:golden_pickaxe
        minecraft:diamond_pickaxe
        tconstruct:pickaxe
        tconstruct:hammer
     >
}


tweaks {
    # This option will let you climb ladders automatically by just looking upwards, rather than requiring a key to be held down. [default: false]
	# 自动爬楼梯
    B:"Auto-Climb Ladder"=true

    # This option forces auto jump to be disabled and also disables the button for it. Because it should never have been a thing. [default: false]
	# 禁止自动跳跃
    B:"Disable Auto Jump"=true

    # This option disables the shifting of the inventory to the right when potion effects are active. [default: true]
	# 禁止药剂转移
    B:"Disable Potion Shift"=true

    # This option will disable step assist added by other mods. [default: false]
	# 禁止步行辅助
    B:"Disable Step Assist"=false

    # This prevents the last torch in the offhand from being placed. [default: false]
	# 最后一个火把不能放置
    B:"Do Not Use Last Torch"=false

    # This option will hide your offhand item. It can be toggled via an optional keybind. [default: false]
	# 隐藏副手项目？ 可以通过按键转化
    B:"Hide Offhand Item"=false

    # This option will hide your own potion particle effects for your client (other players will still see them). [default: false]
	# 隐藏自己的粒子效果 
    B:"Hide Own Particle Effects"=true

    # This option will hide your shield unless you are holding a weapon. [default: true]
	# 隐藏盾牌当你有武器时
    B:"Hide Shield Unless Holding Weapon"=true

    # This adds back the master volume slider to the options screen. Saves you a click! [default: true]
	# 增加主音量按钮
    B:"Master Volume Slider"=true

    # This prevents torches from being placed from your offhand if you have a block in your main hand. [default: true]
	# 主手有方块时副手不能防火把
    B:"No Offhand Torch With Block"=true

    # This prevents torches from being placed from your off hand if you have an empty main hand. [default: false]
	# 主手空时副手不能放火把
    B:"No Offhand Torch With Empty Hand"=false

    # This restricts torches to be placed from the offhand only when you're holding a tool in your main hand. [default: false]
	# 仅仅使用工具时放置火把
    B:"Offhand Torch With Tool Only"=false

    # This strips the underline formatting from chat because it looks terrible. [default: true]
	# 聊天时删除下划线
    B:"Remove Underlines From Chat"=true
}


